<div class="d-flex align-items-center justify-content-center">
  <h1>Learning Ruby on rails!</h1>

</div>

<%= button_to "Connect Twitter", "/auth/twitter2", method: :post, data: {turbo: "false"}, class: "btn btn-primary" %>
