<div class="d-flex align-items-center justify-content-between">
   <h1>Edit Scheduled Tweet</h1>
    <%= link_to "Back to tweets", tweets_path, class: "btn btn-primary" %>
</div>

<%= render "form", tweet: @tweet %>